:host ::ng-deep {
.showcase{
    padding-top: 40px;
    position: relative;
    padding-bottom: 30px;
    // min-height: 80vh;

    // background-color: #eee;

    .circle-fill{
        fill:#9be5fa;
        opacity:0.6;
    }

    header{
        margin-bottom: 40px;
    }


    .form-section-bg-shape-grid, .form-section-bg-shape-circle{
        position: absolute;
      }

      .form-section-bg-shape-grid{
          top: -40px;
          right: -30px;
          z-index: 1;
          width: 100px
      }

      .form-section-bg-shape-grid-2{
        top: -40px;
        // left: -30px;
        z-index: 1;
        width: 100px
    }

      .form-section-bg-shape-circle{
          top: -70px;
          left: -30px;
          z-index: 1;
          width: 250px;
      }

 
    .text-section{
      
        .text{
            width: 60%;
        }

        h1{
            font-size: 30px;
            line-height: 50px;
            font-weight: 800;
            span{
                color: var(--appBlue);
            }
        }

        p{
            margin: 20px 0 70px 0;
            font-weight: 400;
            font-size: 18px;
           
        }

     

        .text-section-img-con{
            position: relative;

            img.art-board{
                width: 90%; 
                margin-top: 60px;
                position: sticky;
                z-index: 2;
            }

            .text-section-bg-shape-grid{
                position: absolute;
                top: -30px;
                left: 0;
                z-index: 1;
                width: 100px;
            }
        }

       
    }


    .form-section{
        position: relative;

        h1{
            font-weight: 500;
            font-size: 25px;
            margin-bottom: 40px;
            // color: var(--appBlue);
        }

        .form-card {
            border-radius: 10px;
            background-color: #fff;
            // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            z-index: 10;
            height: 100%;
            position: sticky;

        }

        .submit-btn{
        background-color: var(--appOrange);
        color: #fff;
        height: 40px;
        border-radius: 10px;
        }



        .form-control.rounded{
            border-radius: 7px !important;
            border-color: #eee !important;
        }

        .form-group{
            margin-bottom: 25px;
        }


        .custom-group{
            background-color: #fff;
            border-radius: 7px !important;
            border: 1px solid #eee;
            height: 38px;
            padding-left: 5px;
            padding-right: 5px;

            .form-control{
                border-radius: 0 !important;
                border:  none;
                height: 28px;

            }

            input{
                border-bottom: 1px solid #eee !important;
                margin-left: 10px;
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
    .showcase{
       
    }
}
}
