:host ::ng-deep {
    .mat-progress-bar-con {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999999999999999 !important;
        background-color: rgba( 255, 255, 255, 0.9) !important;
        .mat-progress-bar {
            position: absolute !important;
        }
    }
 
    .router-con {
        min-height: 100vh;
        position: relative;
        background-color: #fff; 
    }
 
    
}