:host ::ng-deep {
    .mat-progress-bar-con {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999999999999999 !important;
        background-color: rgba( 255, 255, 255, 0.4) !important;
        .mat-progress-bar {
            position: absolute !important;
        }
    }
    .mat-progress-bar-con2 {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999999999999999 !important;
        // background-color: #5f6061 !important;
        // background-color: rgba( 00, 00, 00, 0.9) !important;
        img {
            height: 100px;
            width: 100px;
            margin: 0 auto !important;
        }
    }

 
    .router-con {
        min-height: 100vh;
        position: relative;
        background-color: #fff;
        
    }
    .mobile-menu-con {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 5, 0, 0.5);
        // background-color: #5f6061;
        z-index: 999999;
        .mobile-menu {
            // background-color: #fff;
            background-color: #5f6061;
            width: 350px;
            height: 100%;
            .inner-con {
                padding: 30px 15px 15px 15px;
                // padding-right: 15px;
            }
        }
    }
    @media (max-width: 767px) {
        .app-header {
            // padding-left: 15px;
            // padding-right: 0px;
        }
    }
}