:host ::ng-deep {
    // Showcase 
    .showcase{
        padding-top: 60px;
        position: relative;
        padding-bottom: 30px;
        // min-height: 100vh;
        // background-color: #eee;

        .circle-fill{
            fill:#9be5fa;
            opacity:0.6;
        }

        header{
            margin-bottom: 40px;
        }

     
        .text-section{
          
            .text{
                width: 60%;
            }

            h1{
                font-size: 30px;
                line-height: 50px;
                font-weight: 800;
                span{
                    color: var(--appBlue);
                }
            }

            p{
                margin: 20px 0 70px 0;
                font-weight: 400;
                font-size: 18px;
               
            }
    
         

            .text-section-img-con{
                position: relative;

                img.art-board{
                    width: 90%; 
                    margin-top: 100px;
                    position: sticky;
                    z-index: 2;
                }

                .text-section-bg-shape-grid{
                    position: absolute;
                    top: -30px;
                    left: 0;
                    z-index: 1;
                    width: 100px;
                }
            }

           
        }


        .form-section{
            position: relative;

            .form-section-bg-shape-grid, .form-section-bg-shape-circle{
              position: absolute;
            }

            .form-section-bg-shape-grid{
                top: -40px;
                right: -30px;
                z-index: 1;
                width: 100px
            }

            .form-section-bg-shape-circle{
                top: -70px;
                left: -30px;
                z-index: 1;
                width: 250px;
            }

            .form-section-bg-shapes{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
            }

            h3{
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 30px;
            }

            .form-card {
                border-radius: 20px;
                background-color: var(--appGray);
                padding: 50px 40px 20px 40px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                width: 90%;
                margin-left: auto;
                position: absolute;
                z-index: 10;
                top: 0;
                right: 0;
            }

            .submit-btn{
            background-color: var(--appOrange);
            color: #fff;
            height: 40px;
            border-radius: 10px;
            }



            .form-control.rounded{
                border-radius: 7px !important;
                border-color: #eee;
            }

            .form-control.error{
                border-color: red;
            }


            .form-group{
                margin-bottom: 25px;
                padding-right: 0;
                padding-left: 0;
            }


            .custom-group{
                background-color: #fff;
                border-radius: 7px !important;
                border: 1px solid #eee;
                height: 38px;
                padding-left: 5px;
                padding-right: 5px;

                .form-control{
                    border-radius: 0 !important;
                    border:  none;
                    height: 28px;

                }

                .input-group{
                    border-bottom: 1px solid #eee !important;
                    margin-left: 10px;
                }

            }
            
        }
    }


    // Attention
    .attention{
        padding-top: 20px;
        padding-bottom:20px;
        height: 400px;
        background-color: var(--appGray);
        background-image: url('../../../../assets/img/attention.svg');
        background-size: cover;
        background-repeat: no-repeat;
      
        background-position: center;
        p{
            color: var(--appBlue);
            font-size: 20px;
            line-height: 30px;
        }
    }

    // benefit
    .benefit{
        padding-top: 20px;
        padding-bottom:20px;
        height: 400px;
        .benefit-title{
            p{
                span{
                    color: var(--appBlue);
                }
                
                font-size: 20px;
                line-height: 30px;
            }
        }
        
        .benefit-body{
            .check-icon{
                width: 20px;
                margin-right: 20px;
            }
            p{
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 500;
            }
        }
        
       
    }



    .loading-con{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2020;
        border-radius: inherit;
        p{
            font-size: 18px;
            color: var(--appOrange);
        }
    }

    .success{
        h4{
            font-size: 20px;
            font-weight: 500;
        }
    }


    @media screen and (max-width: 768px) {

    .showcase{
        padding-top: 20px !important;
        padding-bottom: 10px !important;

        header{
            display: none !important;
        }

        .circle-fill{fill: #ffe0da}

        .text-section{
            margin-bottom: 40px;
            .text{
                width: 100% !important;

                h1{
                    font-size: 35px;
                    line-height: 50px;
                    font-weight: 800;
                    span{
                        color: var(--appOrange) !important;
                    }
                }

                p{
                   font-size: 20px;
                    font-weight: normal !important;
                    line-height: 30px;
                }
            }

            .text-section-img-con{
                display: none;
            } 
        }

        .form-section{
            position: static !important;
            padding-bottom: 30px;
            .form-section-bg-shape-grid, .form-section-bg-shape-circle{
              position: absolute;
            }

            .form-section-bg-shape-grid{
                top:  auto !important;
                right: auto !important;
                bottom: 0 !important;
                left:  4px !important;
                z-index:   -0 !important;
                width: 80px;
                // display: none;
            }

            .form-section-bg-shape-circle{
                top: -90px;
                left: auto !important;
                right: -90px !important;
                z-index: 1;
                width: 200px;
            }
    

            .form-card {
                border-radius: 20px;
                background-color: #fbfbfb;
                padding: 20px 20px 30px 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
                width: 100% !important;
                margin-left: 0;
                position: sticky !important;
                z-index: 2 !important;

                h3{
                    display: none;
                }

                p{
                    color: var(--appBlue);
                    font-size: 18px;
                    margin-bottom: 30px;
                }
            } 
            
            .form-group{
                margin-bottom: 15px !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .more-photo-holder {
        height: 200px !important;
    }
}


}


:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 1rem 0;
    margin: 0;
     align-items: center;

  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    // color: #eee !important;
    // opacity: 1!important;
  }
