
<footer class="app-footer">
   <div class="app-footer-inner">
     <div class="container">
      <div class="row">
        <div *ngFor="let user of  users; let i = index"  class="col-lg-3" 
        [ngClass]="i == 1 ? 'mx-auto' : i == 0 ? 'mr-auto' : i == 2 ? 'ml-auto' : ''">
          <div  class="box d-flex  flex-column justify-content-between">
         <div class="app-footer-headline  text-white">
           <div class="d-flex justify-content-between align-items-center">
             <div>
               <div class="app-footer-user-pic">
                <img src="assets/img/quote.svg">
               </div>
             </div>
          
            <h3 class="mb-0">{{user.quote}} | {{i}}</h3>
           </div>
           <p>{{user. description}}</p>
         </div>

         <div class="app-footer-user-con d-flex align-items-center w-100">
           <div>
            <div class="app-footer-user-pic">
              <img [src]="user.photo">
            </div>
           </div>
          
           <div class="app-footer-user-details">
             <h4>{{user.name}}</h4>
             <p>{{user.jobTitle}}</p>
           </div>
         </div>
        </div>
      </div>
      </div>
     </div>

   </div>

      <div class="footer-bottom ">
        <div class="container">
          <div class="row">
              <div class="col-lg-3 copyright w-100 ">
                  <p class="mb-0 text-white">Copyright © 2020. All Rights Reserved.</p>
              </div>
              <div class="col-lg-6 ml-auto text-right links w-100 d-flex justify-content-between align-items-center">
                <a href="#">HOME</a>
                <a href="#">FEATURES</a>
                <a href="#">TEAMS</a>
                <a href="#">PRIVACY</a>
                <a href="#">CONTACT US</a>
              </div>
              <div class="col-lg-1  d-flex w-100 socials d-flex justify-content-between align-items-center">
          <a href="#"><img  src="assets/img/facebook .svg"></a> 
          <a href="#"> <img class="ml-2" src="assets/img/instagram.svg"></a>
          <a href="#"> <img class="ml-2" src="assets/img/instagram.svg"></a>
            </div>
          </div>
      </div>
      </div>

</footer>
